<ol class="breadcrumb">
    <li><a  [routerLink]="['/app/contacts']">Tutti i contatti</a></li>
    <li class="active" ></li>
</ol>
<h1 class="page-title">Dettagli contatto</h1>

<div class="widget-container">
    <div class="row">
        <div class="col-md-12"> 
            <section class="widget">
                <header><h4>Info</h4></header>
                <div class="widget-body">
                    <form class="form-horizontal form-label-left parsleyjs" role="form" method="post"  id="frmDetailS" data-parsley-priority-enabled="false"
                    novalidate="novalidate">
                        <fieldset>
                          <!--<legend><strong>Horizontal</strong> form</legend>-->
                          <div class="form-group">
                                <label for="normal-field"  class="col-sm-4 control-label">Nome completo</label>
                                <div class="col-sm-7">
                                  <input type="text" [(ngModel)]="contact.name" name="name" class="form-control" required="required" ngModel>
                                </div>
                              </div>
                            <div class="form-group">
                                <label for="normal-field" class="col-sm-4 control-label">Qta</label>
                                <div class="col-sm-7">
                                    <input type="text" [(ngModel)]="contact.qta" name="qta" class="form-control" required="required" data-parsley-minlength="2">
                                </div>
                            </div>                              
 
                                <div class="form-actions">
                                    <button type="submit" (click)="save()" class="btn btn-success">
                                        <span [hidden]="!isLoading"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
                                        <i [hidden]="isLoading" class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Salva
                                    </button>                 
                                </div>                                
                        </fieldset>
                    </form>                
                </div>                   
            </section>
        </div>      
    </div>
</div>  

<div class="widget-container">
    <div class="row">
        <div class="col-md-12"> 
            codice prova {{prova[0].fields.codice_prova}}
        </div>
    </div>
</div>

