
<h1 class="page-title">Contatti</h1>
<div class="widget-container">
    <div class="row">
        <div class="col-md-12"> 
            <section class="widget">
                <div class="text-align-center">
                    <form role="form">
                        <fieldset>
                          <legend>Contatti</legend>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="search-input">Cerca un contatto per nome o numero di telefono</label>
                                <div class="input-group">
                                  <input type="search" class="form-control" name="searchQuery" [(ngModel)]="searchQuery">
                                  
                                  <span class="input-group-append">
                                    <button type="button" class="btn btn-default" (click)="search()">
                                      <span [hidden]="!isLoading"><i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
                                      <span [hidden]="isLoading"><i class="glyphicon glyphicon-search"></i></span>&nbsp;Cerca</button>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                    </form>                      
                  </div>
            </section>
        </div>
    </div>
</div>    
<div class="widget-container">
  <div class="row">
      <div class="col-md-12"> 
        <section class="widget">

          <div class="widget-body">
              <div class="table-responsive">
                <table class="table" >
                  <thead>
                    <tr>
                      <th style="width:10px"></th>
                      <th>Nome</th>
                      <th class="hidden-xs hidden-sm">Telefono</th>
                      <th class="hidden-xs hidden-sm">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contact of contacts" >
                      <td><a [routerLink]="['/app/contact', contact.id]"><span class="glyphicon glyphicon-pencil"></span></a></td>
                      <td>{{contact.name}}</td>
                      <td class="hidden-xs hidden-sm">{{contact.phone}}</td>
                      <td class="hidden-xs hidden-sm">{{contact.email}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </section>           
      </div>
  </div>    
</div>
