.valido {
    color: green !important;
    border: 1;
    font-weight: bold !important;
    background-color: #cef0ce !important;
}


.filtroTemplate {
    color: white;
    background-color: #f0795a;
    
}

::placeholder{
    color: white !important;
}

a.btn {
    color: white !important;
    font-weight: 400 !important;
}
