<div class="btn-group btn-block dropdown" [class.filtroTemplate]="bordi && isFiltroTemplate" [class.valido]="bordi && valido" dropdown>
  <a id="dropdown-btn-one" 
  [class.societa]="config.name"
  class="btn btn-primary btn-block dropdown-toggle" dropdownToggle>
    &nbsp; {{_selectedValue | titlecase}} &nbsp;
    <i class="fa fa-caret-down"></i>
  </a>
  <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="dropdown-btn-one">

    <li *ngIf="config.includeAllItem" (click)="ChangeValue('')" role="menuitem">
      <a class="dropdown-item">{{config.nomeValoreTutti}}</a>
    </li>
    <li *ngIf="config.includeAllItem" class="dropdown-divider"></li>

    <li *ngFor='let elem of config.values' (click)="ChangeValue(elem.valore)" role="menuitem">
      <a class="dropdown-item">{{ elem.valore | titlecase}}</a>
    </li>

  </ul>  
</div>