<input 

name="imputazioni" 

class="form-control" 
placeholder={{config.placeholder}} 
autocomplete="off"


[(ngModel)]="selected" 
[typeahead]="config.values"

typeaheadOptionField={{config.campo}} 
typeaheadGroupField={{config.campoRaggruppamento}}


[typeaheadItemTemplate]="templateImputazioni" 
[typeaheadScrollable]="true" 
[typeaheadOptionsInScrollableView]="config.maxElemScroll"

(typeaheadOnSelect)="typeaheadOnSelect($event)" 
(typeaheadOnChange)="typeaheadOnChange($event)" 

[required]="config.required"


(input)="aggiorna($event)"

[class.valido]="isSelezione"
[class.filtroTemplate]="isFiltroTemplate"

[class.required]="required"

>


<ng-template #templateImputazioni let-model="item" let-index="index">
    <span> {{ model.valore | titlecase }} </span>    
</ng-template>


<!--ng-template #templateClasse let-model="item" let-index="index">
    <span>{{model.codice}} - {{model.titolo | titlecase }}</span>
</ng-template>


<ng-template #templateGM let-model="item" let-index="index">
    <span> {{ model.nome | titlecase }} </span>
</ng-template-->